# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
app
app.exe

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.txt

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# Env files
.env
.env.*

# Temporary Air folder & other temp directories
tmp/
temp/
build/

# IDE and Editor files
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Logs
*.log
